img{
    width: 100%;
    height: auto;
}
div{
    padding: 20px;
}
h3{
    margin-top: 10px;
}
article{
    width: 350px;
    max-width: 100%;
    height: auto;
}
h1{
    font-weight: 1000 !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}