<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}IKEA{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Add additional CSS in static file -->
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="jumbotron-fluid bg-primary p-3">
        <h1 class="text-center text-warning display-3">IKEA</h1>
    </header>
    <main class="container">
    {% block content %}{% endblock %}
    </main>
    <footer class="container-fluid bg-dark text-secondary">
        <p class="text-center">&copy; 2021 - SŠPU Opava - IT4</p>
    </footer>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>